.typebutton {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: none;
    padding: 0 5%;
    height: 45px;
    background: rgba(108, 219, 142, 0.9);
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    color: black !important;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    font-weight: bold;

    &:hover {
        background: rgb(11, 176, 85);
        color: white !important;
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    }

}

.btn-normal {
    width: 15%;

    &:hover {
        /* border: 1px solid red; */
        background: none;
        background-color: #d2f6e2;
    }
}