.typebutton {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: none;
    padding: 0 5%;
    height: 45px;
    background: rgba(108, 219, 142, 0.9) !important;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    color: black !important;
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    font-weight: bold;

    &:hover {
        background: rgb(11, 176, 85) !important;
        color: white !important;
        box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    }

}

.btn-normal {
    width: auto;
    background: none !important;
    border: 1px solid green !important;
    color: black !important;
    border-radius: 15px;

    &:hover {
        background: rgba(108, 219, 142, 0.9) !important;
        color: black !important;
    }
}