h2.col-title {
    padding: 2%;
    color: #60a37e;
    font-size: 30px;
}

form.form-thuoc {
    height: 350px;
    overflow-y: scroll;
}

form.form-addThuoc {
    width: 60%;
    background-color: gray;
    margin: 0 auto;
}