#login-name {
    margin-top: -12px;

}

div.dropdown {
    padding: 8px 0;
}

button.btn-loginuser {
    background: none;
    outline: none;
    border: none;
    color: #123653 !important;
    font-weight: bold;
    height: auto;
    padding: 0;

    &:hover {
        background: none;
        outline: none;
        border: none;
    }
}